body {
    margin: 0;
    background-color: #ffffff;
    font-family: 'Inter', sans-serif;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    display: block;
}

header {
    background-color: #E9E9E9;
    display: flex;
    padding: 16px;
    justify-content: space-between;
    font-size: 18px;

}

header p {
    font-weight: bold;
    padding-left: 20px;
}

header p {
    text-decoration: none;
    color: #000000; 
}

header p:hover {
    text-decoration: underline;
    color: #708628;
}

header nav p {
    color: #000000;
}

header nav p:hover {
    color: #708628;
}

header nav ul {
    padding-right: 20px;
    list-style: none;
    font-weight: bold;
    display: flex;
    gap: 20px;
}

header a {
    text-decoration: none;
    color: #000000; 
}

header a:hover {
    text-decoration: underline;
    color: #708628;
}

header nav a {
    color: #000000;
}

header nav a:hover {
    color: #708628;
}

.hero {
    background-color: #A7DB02;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.hero h1 {
    font-size: 48px;
    color: #ffffff;
}

.hero p {
    font-size: 32px;
    font-weight: normal;
    color: #0a0a0a;
}

.green-square {
    padding: 32px 30px;
}

.green-square {
    display: flex;
    align-items: center;
}

.content {
    max-width: 1200px;
    margin: 64px auto;
    padding: 0 16px;
}

.content p {
    line-height: 1.4;
    margin-bottom: 1.6rem;
}

.text {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.text p {
    font-size: 21px;
    font-weight: normal;
}

.text div {
    grid-column-start: 2;
}

.text h4 {
    margin-bottom: 4rem;
    font-size: 30px;
}

.button-container {
    display: flex;
    justify-content: flex-end;
}

.button-link {
    display: inline-block;
    padding: 18px 24px; 
    font-size: 24px; 
    color: white;
    background-color: #A7DB02;
    text-decoration: none;
    border-radius: 30px; 
    margin-right: 170px; 
    margin-top: 70px;
}

.button-link:hover {
    background-color: #050505;
}

.tipologie {
    margin-top: 25px;
    display: flex;
    justify-content: space-around; 
    align-items: flex-start; 
}

.tipologia {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center;
    margin: 10px; 
}

.tipologia img {
    width: 200px; 
    height: auto; 
    margin-top: 90px;
}

.tipologia ul {
    list-style: none; 
    font-weight: bold;
    padding: 15px; 
    margin-top: 25px; 
    background: #A7DB02; 
    color: #fff; border-radius: 50px;
}

.tipologia ul li a {
    color: white; 
    text-decoration: none; 
}

.fasi {
    max-width: 1200px;
    margin: 64px auto;
    padding: 0 20px;
}

.fasi div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 64px 0;
    gap: 16px;
}

.fasi h3 {
    margin-bottom: 1.4rem;
    font-size: 24px;
}

.fasi p {
    font-size: 21px;
}

.epoche {
    max-width: 1200px;
    margin: 64px auto;
    padding: 0 20px;
}

.epoche div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 64px 0;
    gap: 16px;
}

.epoche h3 {
    margin-bottom: 1.4rem;
    font-size: 24px;
}

.avviso {
    border-radius: 20px;
    background-color: #A7DB02;
    padding: 15px;
    margin-bottom: 20px;
}

.avviso h5 {
    margin-bottom: 1.4rem;
    font-size: 29px;
    color: red;
}

.avviso p {
    font-size: 21px;
}

.team {
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-bottom: 70px; 
}

.team1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10px;
}

.team1 img {
    width: 200px;
    height: auto;
}

.team1 ul {
    list-style: none;
    font-weight: bold;
    padding: 15px;
    margin-top: 2px;
    color: #000000;
    border-radius: 50px;
}

.team1 ul li a {
    color: white;
    text-decoration: none;
}

.team1 ul li a:hover {
    color: black;
}

footer {
    background-color: #E9E9E9;
    display: flex;
    padding: 16px;
    justify-content: space-between;
    font-size: 15px;
    font-weight: bold;
}

footer p {
    font-weight: bold;
    padding-left: 20px;
    text-decoration: none;
    color: #000000; 
}

footer nav p {
    color: #000000;
}

footer nav p:hover {
    color: #708628;
}

footer nav ul {
    padding-right: 20px;
    list-style: none;
    display: flex;
    gap: 16px;
}

footer a {
    text-decoration: none;
    color: #000000; 
}

footer a:hover {
    text-decoration: underline;
    color: #708628;
}

footer nav a {
    color: #000000;
}

footer nav a:hover {
    color: #708628;
}

@media screen and (max-width:600px) {
    header {
        background-color: #E9E9E9;
        display: flex;
        padding: 16px;
        justify-content: space-between;
        font-size: 15px;
        align-items: center; 
    }
        
    header p {
        font-weight: bold;
        padding-left: 15px;
    }

    header nav {
        display: flex;
        flex-direction: column; 
        align-items: flex-end; 
    }
    
    header nav ul {
        padding-right: 20px;
        list-style: none;
        font-weight: bold;
        display: flex;
        flex-direction: column; 
        gap: 20px;
    }

    .text {
        grid-template-columns: 1fr;
        gap: 0;
    }
    
    .text h4 {
        margin-bottom: 4rem;
        font-size: 30px;
    }
    
    .hero {
        grid-template-columns: 1fr;
    }
    
    .hero h1 {
        font-size: 30px;
    }
        
    .hero p {
        font-size: 25px;
    }
    
    .tipologie {
        flex-direction: column;
        align-items: center; 
    }
    
    .tipologia {
        margin: 20px 0; 
    }
    
    .button-container {
        display: flex;
        justify-content: center; 
        margin-top: 20px; 
        text-align: center; 
    }
    
    .button-link {
        display: inline-block;
        padding: 15px 30px; 
        font-size: 20px; 
        color: white;
        background-color: #A7DB02;
        text-decoration: none;
        border-radius: 100px; 
        transition: background-color 0.3s ease;
        margin-right: 70px;
    }
    
    .button-link:hover {
        background-color: #050505;
    }

    .fasi {
        max-width: 1200px;
        margin: 64px auto;
        padding: 0 20px;
    }
    
    .fasi div {
        grid-template-columns: 1fr;
        margin: 64px 0; 
        gap: 16px;
    }
    
    .epoche {
        margin: 64px auto;
        padding: 0 20px;
    }
    
    .epoche div {
        grid-template-columns: 1fr;
        margin: 64px 0; 
        gap: 16px;
    }

    .avviso {
        border-radius: 20px; 
        background-color: #A7DB02;
        padding-top: 20px;
        padding: 15px; 
        margin-bottom: 20px;
    }
    
    .avviso h5 {
        margin-top: 20px;
        margin-bottom: 1.4rem;
        font-size: 29px;
        color: red;
    }
    
    .avviso p {
        font-size: 21px;
    }
    
    .team1 {
        display: flex;
        flex-direction: column; 
        align-items: center; 
        text-align: center;
        margin: 10px; 
    }
    
    .team1 img {
        width: 200px; 
        height: auto; 
    }
    
    .team1 ul {
        list-style: none; 
        font-weight: bold;
        padding: 15px; 
        margin-top: 2px; 
        color: #000000; border-radius: 50px;
    }
    
    .team1 ul li a {
        color: white; 
        text-decoration: none; 
    }
    
    .team1 ul li a:hover {
        color: black; 
    }   
       
    .content {
        max-width: 100%;
    }  
     
    footer {
        padding: 10px;
        font-size: 15px;
     }

    footer nav {
        display: flex;
        flex-direction: column; 
        align-items: flex-end; 
    }
    
    footer nav ul {
        padding-right: 20px;
        list-style: none;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    }
