body {
    margin: 0;
    background-color: #ffffff;
    font-family: 'Inter', sans-serif;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    display: block;
}

header {
    background-color: #E9E9E9;
    display: flex;
    padding: 16px;
    justify-content: space-between;
    font-size: 18px;

}

header p {
    font-weight: bold;
    padding-left: 20px;
}

header p {
    text-decoration: none;
    color: #000000; 
}

header p:hover {
    text-decoration: underline;
    color: #708628;
}

header nav p {
    color: #000000;
}

header nav p:hover {
    color: #708628;
}

header nav ul {
    padding-right: 20px;
    list-style: none;
    font-weight: bold;
    display: flex;
    gap: 20px;
}

header a {
    text-decoration: none;
    color: #000000; 
}

header a:hover {
    text-decoration: underline;
    color: #708628;
}

header nav a {
    color: #000000;
}

header nav a:hover {
    color: #708628;
